{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1">
        <title>Profile</title>
        {% block styles %}
            {% bootstrap_css %}
            <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
        {% endblock %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <h1>I am here</h1>
            {% for project in projects %}
                <div class="card mb-3" style="width: 20rem; margin-left: 10px;">
                    <img src="{{project.project_image.url}}" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">{{project.title}}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>