{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1">
        <title>Profile</title>
        {% block styles %}
            {% bootstrap_css %}
            <link rel="stylesheet" type="text/css" href="{% static 'projects.css' %}">
        {% endblock %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="card mb-3" style="width: 40rem;">
                        <img class="card-img-top img-responsive" src="{{project.project_image.url}}">
                        <div class="card-body">
                            <div class="card-title"><strong>{{project.title}}</strong> by <i>{{project.creator.user.username}}</i> <span style="float: right;">{{project.pub_date|timesince}}</span></div>
                            
                            {% autoescape on %}
                            <p><i>{{project.description|safe}}</i></p>
                            {% endautoescape %}
                            <a href="{{project.live_link}}" target="_blank"><i class="fa fa-external-link"></i></a>
                            <div class="row">
                                <button type="button" id="voteButton" style="margin-right: 10px;">Vote</button>
                            </div>
                            <div class="row">
                                <form id="voteForm">
                                    <h3>Design</h3>
                                    <label class="radio-inline">
                                        <input type="radio" name='one' value='1'>1
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name='two' value='2'>2
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name='three' value='3'>3
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name='four' value='4'>4
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name='five' value='5'>5
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name='six' value='6'>6
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name='seven'>7
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name='eight'>8
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name='nine'>9
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name='ten' value='10'>10
                                    </lable>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            
        </div>
        {% block scripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            {% bootstrap_javascript %}
        {% endblock %}
        <script>
            $("#voteButton").click(function(){
                $("#voteForm").toggle();
            });
        </script>
    </body>
</html>