{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1">
        <title>Project Rater</title>
        {% block styles %}
            {% bootstrap_css %}
            <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
        {% endblock %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="jumbotron">
            <h1 style="margin-top: 60px;">Project Rater</h1>
            <h3>Review and Ask Others To Review Your Site</h3>
        </div>
        <div class="container-fluid">
            <h2 class="text-center">Projects to View and Review</h2>
            <hr>
            <div class="row">
                {% for project in projects %}
                    <div class="card mb-3" style="width: 20rem; margin-left: 35px;">
                        <img src="{{project.project_image.url}}" class="card-img-top">
                        <div class="card-body">
                            <div class="card-title">{{project.title}}</div>
                            <a style="font-size: small;" href="{% url 'projects:rate_project' project.title %}">View Project Details</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>