{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1">
        <title>Project Rater</title>
        {% block styles %}
            {% bootstrap_css %}
            <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
        {% endblock %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form class="navbar-form" role="search" action="{% url 'projects:search_results' %}">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Project" name="project"></input>
                        <button class="btn btn-outline-dark bt-sm" type="submit"><i class="fa fa-search" style="color: rgb(64, 87, 190);"></i>Search</button>
                    </div>
                </form>  
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                {% for project in projects %}
                    <div class="card mb-3" style="width: 20rem; margin-left: 35px;">
                        <img src="{{project.project_image.url}}" class="card-img-top">
                        <div class="card-body">
                            <div class="card-title">{{project.title}}</div>
                            <a href="{% url 'projects:detail' project.id %}">View Project Details</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>