{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1">
        <title>Project Rater</title>
        {% block styles %}
            {% bootstrap_css %}
            <link rel="stylesheet" type="text/css" href="{% static 'projects.css' %}">
        {% endblock %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        {% include 'navbar.html' %}
        <h1 class="text-center" style="margin-top: 50px;">{{project.title}}</h1>
        <div class="container-fluid" style="margin-top:70px">
            
            <div class="row">
                <div class="col-md-4">
                    <h4>Rate Project</h4>
                    <form action="" method='post'>
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <input type="submit" value="Post">
                    </form>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3" style="width: 40rem;">
                        <img class="card-img-top img-responsive" src="{{project.project_image.url}}">
                        <div class="card-body">
                            <div class="card-title"><strong>{{project.title}}</strong> by <i>{{project.creator.user.username}}</i> <span style="float: right;">{{project.pub_date|timesince}}</span></div>
                            
                            {% autoescape on %}
                            <p><i>{{project.description|safe}}</i></p>
                            {% endautoescape %}
                            <a href="{{project.live_link}}" target="_blank"><i class="fa fa-external-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="container-fluid" style="margin-top:50px">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Project's Ratings</h3>
                    <hr>
                    <table class="table table-dark table-hover">
                       <thead>
                           <tr>
                               <th scope="col">#</th>
                               <th scope="col">User</th>
                               <th scope="col">Design</th>
                               <th scope="col">Usability</th>
                               <th scope="col">Content</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                               <td>{{design_average}}</td>
                               <td>{{usability_average}}</td>
                               <td>{{content_average}}</td>
                           </tr>
                           {% if project_ratings %}
                           {% for vote in project_ratings %}
                           <tr class="rate{{vote.user.id}}">
                               <th scope="row">{{forloop.counter}}</th>
                               <td>{{vote.user.rater}}</td>
                               <td>{{vote.design}}</td>
                               <td>{{vote.usability}}</td>
                               <td>{{vote.content}}</td>
                           </tr>
                           {% endfor %}
                           {% endif %}
                       </tbody>
                    </table>
                </div>
                
            </div>
        </div>
        <div class="container"></div>
        {% block scripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script type="text/javascript" src="{% static 'js/projects.js' %}"></script>
            {% bootstrap_javascript %}
        {% endblock %}
    </body>
</html>